$font: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #0e6cff;
$secondary-color: #ff8700;

//Set text color based on bg
@function set-text-color($color) {
    @if (lightness($color) > 70) {
        @return #333;
    } @else {
        @return #fff
    }
} 

@mixin set-background($color) {
    background-color: $color;
    color:set-text-color($color);
}

//margin & padding classes
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
    //rondom margin
    .m-#{$space} {
        margin: #{$space}rem;
    }
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    //padding
    .p-#{$space} {
        padding: #{$space}rem;
    }
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}