@import 'config';
@import 'utilities';
@import 'buttons';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: $font;
    line-height: 1.6;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.showcase {
    @include set-background($primary-color);
    height: 600px;

    nav {
        display: flex; // align horizontal
        align-items: center;
        justify-content: space-between;

        ul {
            display: flex;
            list-style: none;
        }

        li {
            padding: 15px;
        }
        a {
            color: set-text-color($primary-color);
        }
        a:hover {
            color: $secondary-color;
        }
    }

    &-content {
        height: 100%;
        display: flex; //text links image rechts
        align-items: center; //verticaal centreren
        justify-content: center; // horizontaal centreren
        margin-top: 30px;

        img {
            width: 50%;
        }

        h1 {
            font-size: 50px;
            line-height: 1.2;
        }
    }
}

@import 'mobile';
